*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.333);
    color: white;
}
html{
    scroll-behavior: smooth;
}
.logo{
    font-size: 40px;
    text-decoration: none;
}
nav, .nav-links{
    display: flex;
    text-decoration: none;
    color: white;
   
}

nav{
    justify-content:space-around;
    align-items: center;
    height: 17vh;
    
}
.nav-links{
    gap:2rem;
    list-style: none;
    font-size: 20px;
    padding-top: 4%;
}

ul li a{
    text-decoration: none;
    color: white;
  

}

ul li a:hover{
    color: #002B42;
    text-decoration: underline;
    text-underline-offset:1rem;
    transition: 0.4s;
    width: 100%;
   
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 10%;
    font-size: 60px;
    padding: 0 5%;
}
.header-text h1 span{
   color: #003554;
}


.header-text p{
    line-height: 1.5;
    font-size: 18px;
    padding-left: 1%;
}


/--------about----------/

.about{
    padding:80px 0;
    color:#395886;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;

}
.about-col1 img{
    width: 400px;
    height: 500px;
    border-radius: 15px;
    margin: 10%;

}
.about-col2{
    flex-basis: 60%;
    padding-bottom: 0%;
}

.sub-title{
    font-size: 50px;
    font-weight:700;
    color: white;
    margin:4%;
    
}
p{
    margin:4%;
    font-size: 20px;
    line-height: 1.5;
}

.tab-titles{
    display: flex;
    margin:20px 0px;
}

.tab-links{
    margin-right: 40px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width: 0;
    height:3px;
    background-color: #003554;
    position:absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{

    list-style: none;
    margin: 4%;

}
.tab-contents ul li span{
    color: #022B42;
    font-size: 14px;
}
.tab-contents{
  
  display: none;
 
}

.tab-contents.active-tab{
    display: block;
    
}

/-----projects---/


#project{
    padding: 50px 0;
}
.projects h1{
    color: white;
    
  
}
.project p{
    font-size: 10px;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid:  40px;
    margin-top: 50px;

}
.project {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    
}

.project img{
    
    margin:5%;
    width: 80%;
    height: 90%;
  
    border-radius: 25px;
    display: block;
    transition: transform  0.5s;
   
}


.layer{
    width: 80%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7),#003554);
    border-radius: 25px;
    position: absolute;
    left:25.3px;
    bottom: 52.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition:0.5s;


}

.layer h3{
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color:black;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}


.project:hover img{
    transform: scale(1.1);
    border-radius: 25px;
}

.project:hover .layer{
    height: 97%;
    bottom:0%;
    width:88%;
    right:0%;
    left:1%;
    
   
}

.btn{
    display: block;
    margin:50px auto;
    width: fit-content;
    border: 1px solid #022b42;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
    font-size: 18px;

}

.btn.btn2{
    display: inline-block;
    background:#022b42;
    color: white;
    margin:2% 5%;
    border-radius: 15px;
    transition: 0.5s;
}

.btn.btn2:hover{
    background: #002B42;
    transform: scale(1.1);
    
}
.sub-title1{
    font-size: 40px;
    margin: 20%;
    
    
}

.sub-title1{
    margin: 5%;
    padding-left: 0%;
    padding-bottom: 6%;

}

.sub-title1 p{
    margin: 5%;
    padding-left: 35%;
    padding-bottom: 6%;
    font-size: 10px;

}
.contact p{
    margin: 5%;
    padding-left: 5%;
    padding-bottom: 6%;
    font-size: 18px;

}

/----------contact--------/

.contact-left{
    flex-basis: 35%;
    padding-left: 5%;
    
}
.contact-right{
    flex-basis: 60%;
    
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;   
    display: inline-block;
    transition: 0.5s;
    padding-left: 10%;
    padding-top: 10%;
    color: white;
    /color:rgba(141, 138, 138, 0.078);/
}
.social-icons a:hover{
    color:#395886;
    transform: translateY(-10px);
    
}

.contact-right form{
    width: 100%;
    
}
form input,form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background-color: rgba(75, 75, 75, 0.886);
    padding: 15px;
    margin: 15px 0;
    color: #b1C9EF;
    font-size: 18px;
    border-radius: 6px;
    
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 1px 0;
    font-weight: 200;
    background: #d5cdcd;
    margin-top: 30px;
}
.copyright span{
    color: #006DA4;
}

.copyright p{
    color: #022B42;
}
